{% extends "base/base_administrador.html" %}
{% load static %}
{% load %}
{% load staticfiles %}

    {% block head %}
        <title>Lista de solicitudes</title>
    {% endblock %}
    {% block content %}
     
                    <div class="container">
                        
                        <h2>Solicitudes de registro</h2>
            
                        {% if solicitudes %}
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Correo electrónico</th>
                                        <th>Estado</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>      
                            {% for solicitud in solicitudes %}
                            <tbody>
                                <tr>
                                    <td> {{ solicitud.nombre }} {{ solicitud.apellido }} </td>
                                    <td> {{ solicitud.user.email }} </td>
                                    <td> {{ solicitud.estado_miembro }} </td>
                                    <td>
                                        <a class="btn btn-success" href="{% url 'aprobar' solicitud.user.id %}">Aprobar</a>
                                        <a class="btn btn-danger" href="{% url 'rechazar' solicitud.user.id %}">Rechazar</a>
                                    </td>
                                </tr>
                            </tbody>
                            {%  endfor %}
                            </table>
                        </div>
                        {%  else %}
                        <h1>No hay solicitudes pendientes</h1>
                        {% endif %}

                    </div>
                


    {% endblock %}

    

