{% extends "base/base_administrador.html" %}
{% load static %}
{% block title %}
<title>Recurso en proyecto</title>
{% endblock %}
{% block content %}
<div class="container">
    <!--p><a class="btn btn-default" href="{% url 'Inventario_recurso_proyecto_list' %}">Recurso_Proyecto Listing</a></p-->
    <table class="table">
        <!--tr><td>created</td><td>{{ object.created }}</td></tr>
        <tr><td>last_updated</td><td>{{ object.last_updated }}</td></tr-->
        <tr><td>Descripción</td><td>{{ object.descripcion }}</td></tr>
        <!--tr><td>estado</td><td>{{ object.estado }}</td></tr-->
        <tr><td>Fecha de asignación al proyecto</td><td>{{ object.fecha_recurso_proyecto }}</td></tr>
    </table>
    <!--a class="btn btn-primary" href="{{object.get_update_url}}">Edit Recurso_Proyecto</a--> 
</div>
{% endblock %}