{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'Inventario_resultadoproyecto_list' %}">ResultadoProyecto Listing</a></p>
<table class="table">
<tr><td>created</td><td>{{ object.created }}</td></tr>
<tr><td>last_updated</td><td>{{ object.last_updated }}</td></tr>
<tr><td>descripcion</td><td>{{ object.descripcion }}</td></tr>
<tr><td>fecha_resultado</td><td>{{ object.fecha_resultado }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit ResultadoProyecto</a>

{% endblock %}