<!DOCTYPE html>
<html>
    <head></head>
    <body>
        {% extends "base/base_administrador.html" %}
        {% load static %}
        {% load %}
        {% load staticfiles %}
        {% block head %}
        <title>Miembro | Citesoft</title>
        <style> 
            .row{
            border-bottom: 1px solid silver;
            }
            .datos div{
            border-radius: 0;
            border:none;
            border-bottom: 1px solid silver;
            color: orange;  
            padding-bottom: 0px;
            }
            label {
            color: #999999;
            }
        </style>
         {% endblock %}
        
        {% block content %}
        <!-- Bootstrap core CSS -->
        {% if miembro %}
        <!-- Page Content -->
        <div class="container">
            <!-- Portfolio Item Heading -->
            <div class="col-lg-12 my-5 ">
                <a href="{{ miembro.get_update_url }}"><button id="editar" class="btn btn-primary float-right ml-1">Editar</button></a>
              <a href="" onclick="myFunction2( '{{ miembro.id }}' )" ><button id="eliminar" class="btn btn-danger float-right"> Eliminar </button></a>
                <!-- Portfolio Item Heading -->
                <div class="">
                    <h1 class="">{{miembro.nombre}} {{miembro.apellido}}
                    </h1>
                </div>
            </div>
            <!-- Portfolio Item Row -->
            <div class="form-row " id="form">
                <div class="col-sm-12 col-md-6 col-lg-6 text-center ">
                    <div class="w-75 img-responsive-16by16-2 mx-auto ">
                        <img class="img-fluid w-100 "  src="{{ miembro.foto.url }}">
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                    <div class="datos">
                        <div class="form-control"> {{miembro.nombre}}</div>
                        <label for="nombre">Nombre</label>
                    </div>
                    <div class="datos">
                        <div class="form-control"> {{miembro.apellido}}</div>
                        <label for="apellido">Apellido</label>
                    </div>
                    <div class="datos">
                        <div class="form-control"> {{miembro.fecha_nacimiento}}</div>
                        <label for="nombre">Fecha de nacimiento</label>
                    </div>
                    <div class="datos">
                        <div class="form-control"> {{miembro.fecha_ingreso}} </div>
                        <label for="fecha">Fecha de Ingreso</label>
                    </div>
                    <div class="datos">
                        <div class="form-control"> {{miembro.telefono}}</div>
                        <label for="telefono">Teléfono</label>
                    </div>
                    <div class="datos">
                        <div class="form-control"> {{miembro.correo}}</div>
                        <label for="correo">Correo</label>
                    </div>
                    <div class="datos">
                        <div class="form-control"> {{miembro.dni}} </div>
                        <label for="DNI">DNI</label>
                    </div>
                    <div class="datos">
                        <div class="form-control"> {{miembro.grado_academico}}</div>
                        <label for="grado">Grado Académico</label>
                    </div>
                </div>
            </div>
        
            <!-- Finnnnnnnnnnnnnn-->
            <!-- Related Projects Row-->
            <h3 class="my-4 text-center">Proyectos </h3>
        {%  if proyectos %}                
            <div class="row">
                {% for proyect in proyectos %}
                <div class=" col-lg-4 col-md-6 col-xs-6 py-2 px-5 ">
                    <div class="text-center img-responsive-16by9 " href="#">
                        <img class="img-fluid w-100" src="{{proyect.idProyecto.foto.url}}" alt="">
                    </div>
                    <div class="card py-2 text-center">
                        <a href=" {{ proyect.idProyecto.get_absolute_url }} " >{{proyect.idProyecto.nombre}}</a> 
                        <small  > Cargo: {{proyect.idCargo}}</small>
                    </div>    
                </div>
                {% endfor %}
            </div>
            <!-- /.row -->
        {% else %}
            <h5> No esta asignado a ningun proyecto </h5>
        {%  endif %}
            <!-- /.container -->    
        </div>
        {% else %}
            <div class="container">
                <h1>Datos incorrectos</h1>
                <a class="btn btn-danger form-control" href="{% url 'Inventario_miembros_list' %}">Volver a la lista de Miembros</a>
            </div>
        {%endif%}
          
         {% block js %}
        <script>
            function myFunction2(idMiembro) {
            
                var r = confirm("¿Está seguro que desea eliminar el Miembro?");
                
                var txt;
                
                if (r == false) {
                    alert('Eliminación cancelada');
                } else {
                    $.ajax({
                        method: 'GET',
                        url: '/inventario/Inventario/miembros/delete/',
                        data: {
                            'idMiembro': idMiembro,
                            'respuesta' : '1',
                        },
                        dataType: "json",
                        success: function(response) {
                            var r2 = confirm(response.resultado);
                            if (r2 == false) {
                                alert('Eliminación cancelada');
                            } else {
                                
                                $.ajax({
                                    method: 'GET',
                                    url: '/inventario/Inventario/miembros/delete/',
                                    data: {
                                        'idMiembro': idMiembro,
                                        'respuesta' : '2',
                                    },
                                    dataType: "json",
                                });
                                alert('Eliminación exitosa.');
                                window.location.href='/inventario/Inventario/miembros/listar/';
                            }
                        }
                    });
                }
            }
        </script>
      {%endblock%}  
        {%endblock%}   
    </body>
</html>
